################
# python==3.12 #
################

numpy==2.3.1
scipy==1.16.0
scikit-optimize==0.10.2
matplotlib==3.10.3
networkx==3.5

# conda install -c conda-forge pygraphviz

TIEMPO 0.0004696846008300781